<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Acerca de Ruli</h2>
  <p>
    Sitio para la gestión de cobranzas a deudores.
  </p>
  {{#link-to "contacto" class="button"}}
    Contactate
  {{/link-to}}  
</div>