<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contactate</h2>
  <p>
    ¿Tenés problemas?<br>
    Contá conmigo, te ayudo.
  </p>
  <p>
    <address>
      <a href="mailto:lucas_campaner@yahoo.com">lucas_campaner@yahoo.com</a>
    </address>
  </p>
  {{#link-to "acerca" class="button"}}
    Acerca
  {{/link-to}}  
</div>