<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Informe de deudores</h2>
  {{#link-to "acerca" class="button"}}
    Acerca
  {{/link-to}}
</div>

{{#each this.model as |deudor|}}
  <article class="listing">
    <div class="details">
      <h3> {{deudor.razonSocial}}</h3>
      <h3> {{deudor.deuda}}</h3>
      <div class="detail owner">
        <span>Empresa:</span> {{deudor.empresa}}
      </div>
      <div class="detail type">
        <span>Cartera:</span> {{deudor.cartera}}
      </div>
      <div class="detail location">
        <span>Identificador:</span> {{deudor.nroPrestamo}}
      </div>
      <div class="detail bedrooms">
        <span>Teléfono:</span> {{deudor.telefono}}
      </div>
    </div>
  </article>
{{/each}}